#showDetailsDesk  li {
    padding-left: 15.8%;
}

#allCont {
    width: 60%;
    background-color: #FF9900;
    margin-left: 20%;
    text-align: center;
    margin-top: 0;
    list-style-type: none;
    display: inline-block;
}

#Items-List {
    list-style-type: none;
    padding-left: inherit;
}

.costItemText {
    display: inline-block;
}

.changeCostItem {
    margin-left: 3%;
    color: blue;
}

@media screen and (min-width: 1024px) {

    .changeCostItem:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {

    #imgLogo {
        padding-left: 7%;
    }

    #closeMobileMenuButton {
       left: 2%;
        margin-top: 0;
        margin-left: 1vh;
    }

    #userDetailsMobile {
        display: inline-block;
        width: 87%;
        background-color: lightgray;
        margin-left: 0;
        padding-left: 13%;
    }

    #showDetailsMobile {
        display: inline-block;
    }

    #allCont {
        width: 100%;
        margin-left: 0;
        margin-top: 1%;
        display: inline-block;
        font-size: 65%;
    }
}