html{
    overflow: hidden;
}
body{
    width: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    flex: auto;

}

body{
    width: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    flex: auto;

}

#allMenus{
    background-color: darkgray;
    width: 100%;
    display: inline-block;
}

#logo{
    height: 4vh;
    width: 100%;
}
#mobileMenuButton{
 display: none;
}
#imgLogo{
    height: 4vh;
    padding-top: 1vh;
    padding-left: 10%;
    float: left;
}

#menu{
    height: 3vh;
}

#links{
    list-style-type: none;
    margin: 0;
    padding: 0;


}

#links li{
    display: inline;
    width:15vh;
    float: left;
    padding-left: 10vh;
    /*padding-top: 1vh;*/
    text-align: center;
}

#links li a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    width:10vh;
    padding-right: 1vh;
}

#links li a:hover{
    background-color: #FFFFFF;
    color: #FF9900;
}

#userDetails{
    width: 80%;
    background-color: lightgray;
    margin-left: 10%;
    display: inline-block;

}
#userDetails ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#userDetails ul li{
    display: inline;
    width:20vh;
    float: left;
    text-align: center;
    padding-left: 14%;
    color: #FFFFFF;
}
#userDetails ul li a{
    color: #E2062C;
}

#optionsButtons{
    padding-left: 37.5%;
    padding-top: 10%;

}

#Ready{
    background-color: darkgray;
    width: 20%;
    height: 20vh;
    border-style: none;
    color: #FFFFFF;
    font-size: 1.5em;
}
#Custom{
    background-color: darkgray;
    width: 20%;
    height: 20vh;
    border-style: none;
    color: #FFFFFF;
    font-size: 1.5em;
}
#Ready:hover{
    background-color: lightgray;
    width: 20%;
    height: 20vh;
    border-style: solid;
    border-color: #FF9900;
    color: #FF9900;
    font-size: 1.5em;
}
#Custom:hover{
    background-color: lightgray;
    width: 20%;
    height: 20vh;
    border-style: solid;
    border-color: #FF9900;
    color: #FF9900;
    font-size: 1.5em;
}

.container1 {
    width: 24%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-top: 0;
    background-color: #FF9900;
    position: relative;
    left: 37%;
    padding-left: 2%;
    text-align: left;
    font-size: 1.5em;
    color: #FFFFFF;
}
.container2 {
    width: 26%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-top: 0;
    background-color: #FF9900;
    position: relative;
    left: 36%;
    padding-left: 2%;
    text-align: left;
    font-size: 1.5em;
    color: #FFFFFF;
}

#savenewitem1{
    width: 25%;
    background-color: #53e3a6;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 4vh;
    margin-left: 19%;
}
#savenewitem2{
    width: 25%;
    background-color: #53e3a6;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 4vh;
    margin-left: 19%;
}
#Back1{
    width: 25%;
    background-color: #E2062C;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 4vh;

}
#Back2{
    width: 25%;
    background-color: #E2062C;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 4vh;

}



@media screen and (max-width: 1024px) {
    #mobileMenuButton {
        text-decoration: none;
        color: #FFFFFF;
        display: inline-block;
        width: 5vh;
        left: 5%;
        float: left;
        z-index: 5000;
        margin-left: 5%;
    }

    #logo {
        height: 4vh;
        width: 100%;
        display: inline-block;
    }

    #imgLogo {
        height: 100%;
        padding-top: 1vh;
        padding-left: 5%;
        width: 60%;

    }

    #menu {
        display: none;
        padding: 0;
    }

    #userDetails {
        width: 100%;
        margin-left: 0%;
        float: none;
        margin-top: 0;

    }

    #monthlyBudget {
        display: none;
    }

    #leftToSpendToday {
        display: none;
    }

    #userName {
        width: 30%;
    }

    #userDetails ul li {
        width: 100%;
        text-align: center;
        padding-left: 35%;
        font-size: 1em;
        height: 2%;
        display: inline;

    }

    #optionsButtons {
        padding-left: 0;
        padding-top: 0;
        width: 100%;

    }

    #Ready{
        background-color: darkgray;
        width: 49%;
        height: 25vh;
        border-style: none;
        color: #FFFFFF;
        font-size: 1.5em;
        margin-left: 0;
        float: left;
        ;
    }
    #Custom{
        background-color: darkgray;
        width: 49%;
        height: 25vh;
        border-style: none;
        color: #FFFFFF;
        font-size: 1.5em;
        margin-left: 2%;
    }

    .container1 {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        left: 0;
    }
    .container2 {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        left: 0;
    }

    #savenewitem1{
        width: 20%;
        height: 4vh;
        margin-top: 4vh;
        margin-left: 27%;
    }
    #savenewitem2{
        width: 20%;
        height: 4vh;
        margin-top: 4vh;
        margin-left: 27%;
    }
    #Back1{
        width: 20%;


    }
    #Back2{
        width: 25%;
        background-color: #E2062C;
        color: #FFFFFF;
        border-style: none;
        height: 4vh;
        margin-top: 4vh;

    }

    #sideMenu {
        display: inline-block;
        list-style: none;
        color: #FFFFFF;
        float: left;
        margin-left: 0%;
        background-color: darkslategray;
        height: 100%;
        width: 40%;
        padding-top: 2%;
        padding-left: 0%;
        position: fixed;
        z-index: 1000;
    }
    #sideMenu li a{
        text-decoration: none;
        color: #FFFFFF;
        padding-bottom: 5%;
    }
    #sideMenu li{
        height: 5vh;
    }
    #closeMobileMenuButton{
        left: 2%;
        margin-top: 0;
    }

}







