html {
    overflow-x:  hidden;
    overflow-y: scroll;
}

#showDetailsDesk  li {
    padding-left: 14%;
}

#reportForm {
    top: 30%;
    width: 30%;
    height: 25vh;
    margin-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5em;
    background-color: #FF9900;
    text-align: center;
    color: #FFFFFF;
}

#Retrieve {
    color: #FFFFFF;
    background-color: #53d6a5;
    border: none;
    top: 3vh;
    height: 6vh;
    width: 23%;
}

#Cancel {
    color: #FFFFFF;
    background-color: #E2062C;
    border: none;
    top: 3vh;
    height: 6vh;
    width: 20%;
}

#showReport, #pieChartWrapper, #barChartWrapper {
    height: auto;
    width: 30%;
    margin-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1em;
    background-color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}

#Items-List {
    list-style-type: none;
    padding-left: 2%;
    color: black;
    text-align: left;
    border-style: dashed;
    border-color: darkgray;
}

#reportButton {
    display: none;
}

#pieChartButton {
    display: none;
}

#barChartButton {
    display: none;
}

#pieChart, #barChart {
    width: 90%;
    margin-left: 5%;
}

#pieChart {
    height: 90%;
}

#barChart {
    height: 400px;
}

.barChartInfoWrapper {
    color: black;
    margin-left: 8%;
    text-align: left;
    display: none;
}

.square {
    width: 13px;
    height: 13px;
    display: inline-block;
}

.blueSquare {
    background-color: #382765;
}

.greenSquare {
    background-color: #7BC225;
}

@media screen and (max-width: 1024px) {

    #imgLogo {
        padding-left: 9%;
    }

    #closeMobileMenuButton {
        left: 2%;
        margin-top: -2%;
    }

    #userDetailsMobile {
        display: block;
        width: 100%;
        background-color: lightgray;
        margin-left: 0;
    }

    #showDetailsMobile {
        display: block;
    }

    #reportForm {
        width: 100%;
        height: 100%;
        margin-left: 0;
        font-size: 1em;
        text-align: left;
    }

    #Retrieve {
        width: 42%;
        margin-left: 3%;
    }

    #Cancel {
        margin-left: 5%;
        width: 42%;
    }

    #showReport, #pieChartWrapper, #barChartWrapper {
        width: 100%;
        margin-left: 0;
        font-size: 1em;
        text-align: left;
    }

    .barChartInfoWrapper {
        margin-left: 5%;
    }
}