html {
    overflow: hidden;
}

#menu {
    height: 3vh;
}

#settingsSection {
    width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-top: 0;
    background-color: #FF9900;
    position: relative;
    left: 15%;
    padding-left: 2%;
    text-align: left;
    font-size: 1.5em;
    color: #FFFFFF;
}

#settings {
    width: 80%;
    padding-left: 30%;
    display: block;
}

#changeUsername {
    width: 80%;
    padding-left: 30%;
    display: block;
}

#Reset {
    width: 80%;
    padding-left: 30%;
    display: block;
}

#saveNewBudgetAmount {
    width: 25%;
    background-color: #53e3a6;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 1vh;
    margin-left: 8%;
}

#saveNewUsername {
    width: 25%;
    background-color: #53e3a6;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 1vh;
    margin-left: 8%;
}

#eraseAll {
    width: 25%;
    background-color: #E2062C;
    color: #FFFFFF;
    border-style: none;
    height: 4vh;
    margin-top: 4vh;
    margin-left: 8%;
}

@media screen and (max-width: 1024px) {

    #imgLogo {
        padding-left: 7%;
    }

    #closeMobileMenuButton {
        left: 2%;
        margin-top: 0;
        margin-left: 1vh;
    }

    #settingsSection {
        width: 100%;
        left: 0;
        padding-left: 0;
        font-size: 1em;
        color: #FFFFFF;
        text-align: center;
    }

    #listOfSettings {
        width: 70%;
        display: block;
    }

    #settings {
        width: 100%;
        padding-left: 0;
    }

    #changeUsername {
        width: 100%;
        padding-left: 0;
    }

    #Reset {
        width: 100%;
        padding-left: 0;
    }

    #saveNewBudgetAmount {
        width: 70%;
        margin-left: 0%;
    }

    #saveNewUsername {
        width: 70%;
        margin-left: 0%;
    }

    #eraseAll {
        width: 70%;
        margin-left: 0%;
    }

    #menu {
        display: none;
    }
}